<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="csrf-token" content="Ml63mUEFyaGvIM0h52l8aZ6cEGkZ61t2Jw0t9jhv" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="Ml63mUEFyaGvIM0h52l8aZ6cEGkZ61t2Jw0t9jhv" />
    <title>Forget Password</title>
    <link rel="stylesheet" href="admin/css/bootstrap.min.css">
    <link rel="shortcut icon" href="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        @import  url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
        *{font-family:Jost;}
        .btn-custom{background-color:black;color:white;}
        .btn-custom:hover{background-color:black;color:white;}
        .btn-custom:after{background-color:black;color:white;}
        a{color:black;}
        a:hover{text-decoration:none;}
        .card{box-shadow: 0px 2px red;}
        
        @media screen and (max-width: 468px) {
            video{width:100% !important;}
        }
    </style>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card mt-5">
                    <div class="card-header" style="background-color:white">
                        <img src="{{setting.logo_path}}" class="w-100">
                    </div>
                    <div class="card-body">
                        <h3><center>Forget Password</center></h3>
                        <hr>
                        {{#if sessionFlash.message}}
						  <div id="flash-messages">
						      <div class="alert alert-danger">
						            {{{sessionFlash.message}}}
						      </div>
						   </div>
						 {{/if}}
                        <form action="/auth/forget-password" method="post">

                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" value="" required>
                            </div>

                            <div class="form-group mt-4">
                                <input type="submit" class="btn btn-custom btn-block" value="Send OTP">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="/admin-auth/login" class="text-danger" style="float:right">Back To Login ?</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="/" class="text-danger">Go to Home Page</a>
                                    </div>
                                </div>
                                <p class="mt-5"><center><small>© <a href="/" target="_blank">EZEWIN</a></small></center></p>
                                <p>
                                    <center>
                                        <small>Designed by <a href="https://analogueitsolutions.com/" target="_blank">Analogue IT Solutions</a></small> &nbsp;Pvt Ltd
                                    </center>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/jquery.min.js"></script>
    
</body>

</html>